// Colors
$primary:       #1d293b;
$secondary:     #ffffff;
$hover:         #fccb43;
$grey:          #fdfdfd;
$border:        #000;
$black:         #ffb11f;


// Fonts
// Fonts-family
$font-family-base:  avenir next;
$code-font: Monaco;

// Font-size
$mytitel:        3.4rem;
$mysubtitel:     2rem;
$myboldtitel:    1.2rem;
$myinfo:         1.5rem;
$mytext:         0.8rem;
$mybig:          5rem;


// Font-weight
$myheavy: 700;
$mymedium: 500;
$mylight: 300;


// Radius
$radius:        .1rem;
$buttonradius:        .5rem;

//


