// Colors
$primary:       blue;
$secondary:     #ffffff;
$hover:         #9d90ff;
$grey:          #9d9d9d;
$border:        #dadada;
$black:         #000;


// Fonts
// Fonts-family
$font-family-base:  helvetica;

// Font-size
$mytitel:        3.4rem;
$mysubtitel:     2rem;
$myinfo:         1.5rem;
$mytext:         1.2rem;
$mybig: 5rem;

// Font-weight
$myheavy: 700;
$mymedium: 500;
$mylight: 300;

//links



// Radius
$radius:        .1rem;
$buttonradius:        .5rem;

