html {
  font-family: avenir next;
  background-color: #1d293b;
}

a {
  text-decoration: none;
  color: #ffb11f;
}

a:hover {
  cursor: pointer;
}

.padding, nav {
  padding: 1rem 5rem;
}

.marginbot, nav, .priority, .intro {
  margin-bottom: 3rem;
}

li {
  list-style-type: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 0.05rem solid #000;
}

nav > li {
  padding-right: 2rem;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside {
  width: 20rem;
  margin-left: 4rem;
  margin-right: 2rem;
}

.aside > ul {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-bottom: 0.05rem solid #000;
  padding-left: 0;
}

.chapter {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #ffb11f;
  font-weight: 700;
  font-size: 1rem;
  padding-left: .8rem;
}

.active {
  background: #1d293b;
  border-radius: .2rem;
}

.sub {
  padding: .8rem .8rem;
  margin-bottom: .2rem;
  font-size: 1rem;
  color: #ffb11f;
}

iframe {
  padding: 0 0 2rem 0;
}

h1 {
  margin-bottom: 3rem;
  font-size: 3.4rem;
  color: #ffb11f;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #ffb11f;
}

h3 {
  font-size: 1.2rem;
  color: #ffb11f;
  margin: 1rem 0;
  font-family: avenir next;
  font-weight: 700;
}

.primcolor, .funccolor {
  width: 90%;
  height: 8rem;
  padding: 1rem;
  color: #ffb11f;
  font-size: 0.8rem;
  margin-bottom: .5rem;
  border: solid 0.05rem #fdfdfd;
  border-radius: 0.1rem;
}

.primcolor {
  margin-bottom: 3rem;
}

.button {
  border-radius: 0.5rem;
  width: 15rem;
  height: 4rem;
  color: #ffffff;
  background-color: #ffffff;
  border: none;
}

.default {
  border: 0.1rem solid #fdfdfd;
  color: #fdfdfd;
}

.defaulthover {
  border: 0.1rem solid #fdfdfd;
  color: #fdfdfd;
}

.defaulthover:hover {
  background: #1d293b;
  border: 0.1rem solid #1d293b;
  color: #ffffff;
  cursor: pointer;
}

.priority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.content {
  width: 100%;
}

.subnav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 0.05rem solid #000;
  margin-bottom: 3rem;
  padding-left: 0;
}

.subnav > ul > li {
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.subnav > ul > li:hover {
  color: #fccb43;
  cursor: pointer;
}

.container {
  background-color: #fdfdfd;
  padding: 1rem;
  border-radius: 0.1rem;
  font-family: Monaco;
  width: 90%;
}

.container > p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  border-bottom: solid 0.1rem #000;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.navtitle {
  color: #fdfdfd;
}

.logo {
  color: #1d293b;
  font-weight: 700;
  color: #ffb11f;
}

.primary {
  background-color: #1d293b;
}

.secondary {
  background-color: #ffffff;
}

.hover {
  background-color: #fccb43;
}

.grey {
  background-color: #fdfdfd;
}

.border {
  background-color: #000;
}

.black {
  background-color: #ffb11f;
  color: #ffffff;
}

.intro {
  font-size: 0.8rem;
  width: 80%;
}

.big {
  font-size: 5rem;
  font-weight: 700;
}

.codefont {
  font-family: Monaco;
}

.bold {
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */